.all-article {
  display: flex;
}

.header {
  color: white;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.section {
  padding: 5rem 2rem 3rem 2rem;
  display: grid;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.center {
  justify-content: space-evenly;
  display: flex;
  color: white;
}

.all-div {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  font-size: 2rem;
  border: 1px solid rgb(250, 250, 250);
}

.container {
  height: 100vh;
  background-color: black;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 1920px !important;
}

.centrar-completo {
  max-width: 700px;
  justify-content: center;
  margin: 0 auto;
  /* background-color: red; */
}

.button {
  height: 100%;
  width: 100%;
  background-color: black;
}

.bg {
  background-color: rgba(255, 0, 0, 0.743);
}

.transparent {
  background-color: transparent;
}

.finally {
  text-align: center;
  padding-top: 4rem;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .all-div {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 640px) {
  .center {
    display: grid;
    justify-items: center;
  }
}

/* @media screen and (max-width: 540px) {
  .all-div {
    height: 40px;
    width: 40px;
    font-size: 1rem;
  }
} */

@media screen and (max-width: 450px) {
  .all-div {
    height: 30px;
    width: 30px;
  }
  .header {
    font-size: 2rem;
  }
}
